
<form>

  

    <input type="checkbox" id="opcion1" value="opcion1">
    <label for="opcion1">Fecha</label>
    <input type="date"><br>

    <input type="text" id="contenidoBusqueda"><br>

    <input type="checkbox" id="opcion2" value="opcion2">
    <label for="opcion2">Color</label>  
   
    <input type="checkbox" id="opcion3" value="opcion3">
    <label for="opcion3">Marca </label>

    <input type="checkbox" id="opcion4" value="opcion4">
    <label for="opcion4">Modelo</label> 
    
    <input type="checkbox" id="opcion5" value="opcion5">
    <label for="opcion5">Num. de Serie</label>    

    <input type="checkbox" id="opcion6" value="opcion6">
    <label for="opcion6">Placas</label>   
    
    <input type="checkbox" id="opcion7" value="opcion7">
    <label for="opcion7">Poliza</label>

    <input type="checkbox" id="opcion8" value="opcion8">
    <label for="opcion8">Tipo de siniestro</label>  
</form>